https://web.facebook.com/sharer.php?t=Safari%20Pilpres!%20Prabowo%20Dan%20Puan%20Sepakat%20Bangun%20Komunikasi%20Politik%20Terbuka&u=https%3A%2F%2Frajamedia.co%2Fberita%2Fsafari-pilpres-prabowo-dan-puan-sepakat-bangun-komunikasi-politik-terbuka&_rdc=1&_rdr
https://twitter.com/intent/tweet?text=Safari%20Pilpres!%20Prabowo%20Dan%20Puan%20Sepakat%20Bangun%20Komunikasi%20Politik%20Terbuka&url=https%3A%2F%2Frajamedia.co%2Fberita%2Fsafari-pilpres-prabowo-dan-puan-sepakat-bangun-komunikasi-politik-terbuka

<a
    href="https://api.whatsapp.com/send?text=www.google.com"
    data-action="share/whatsapp/share"
    >Share via Whatsapp web</a
>

https://t.me/share/url?url=https%3A%2F%2Frmbanten.com%2Fdetail%2F27652%2Fpertemuan-hambalang-prabowo-dan-puan-sepakat-bangun-komunikasi-politik-terbuka&text=Pertemuan%20Hambalang!%20Prabowo%20Dan%20Puan%20Sepakat%20Bangun%20Komunikasi%20Politik%20Terbuka&to=
